:root {
    --progress: 0;
}

ul {
    padding: 0;
}

.tabTitles{
    display: flex;
    margin: 20px 0 40px;
}

.tabLinks{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tabLinks::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tabLinks.activeLink::after{
    width: 50%;
}

.tabContents ul li{
    list-style: none;
    margin: 10px 0;
}

.tabContents ul li span{
    color: #b54769;
    font-size: 14px;
}

.tabContents {
    display: none;
}

.tabContents.activeTab{
    display: block;
}

.parallax{
    position: sticky;
    top: 0px;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 200vh;
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    position: sticky;
    top: 0px;
    opacity: var(--progress);
}

.noParContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.noPar{
    display: none;
}

.filler{
    flex-grow: 1;
}

@media screen and (max-width: 700px), screen and (max-height: 800px) {
    .noPar{
        display: block;
    }

    .content{
        display: none;
    }

    .container{
        height: 100%;
    }
}