.tabTitles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 50px;
}

.tabTitles div div{
    background: #262626;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background-color 0.5s, transform 0.5s;
    text-align: center;
    padding: 20px 0px;
}

.tabTitles div div h2{
    font-size: 30px;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.tabTitles div div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

.content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.tabContents{
    width: 40%;
    align-self: center;
    height: 100%;
}

.tab{
    display: none;
}

.activeTab{
    display: block;
}

.btn{
    display: block;
    width: 250px;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    background: #ff004f;
    margin: 20px 0px;
}

@media screen and (max-width: 740px) {
    .tabTitles div div span{
        display: block;
    }

    .tabContents{
        width: 60%;
    }
}

@media screen and (max-width: 600px) {
    .tabTitles div div h2{
        font-size: 20px;
    }

    .tabTitles{
        gap: 20px;
    }

    .tabContents{
        width: 80%;
    }
}

@media screen and (max-width: 400px) {
    .tabTitles div div h2{
        font-size: 16px;
    }

    .tabTitles{
        gap: 5px;
    }

    .tabContents{
        width: 100%;
    }
}