.container{
    display: flex;
    height: 800px;
    border: solid 2px grey;
    border-radius: 6px;
}

.left{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    border-right: solid 5px white;
}

.right{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
}

.container p{
    white-space: pre-wrap;
}

.btn{
    font-size: 36px;
    display: block;
    border: 1px solid black;
    padding: 14px 50px;
    border-radius: 0px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.5s;
    height: 25%;
}
.btn:hover{
    background: #ff004f;
}

@media screen and (max-width: 1050px) {
    .btn{
        font-size: 24px;
    }

    .container{
        flex-direction: column;
        height: 150vh;
    }

    .left{
        height: 25%;
    }

    .right{
        height: 75%;
    }
}