.workList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 600px;
}

.work img{
    border-radius: 10px;
    width: 100%;
    display:block;
    transition: transform 0.5s;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.layer {
    height: 0%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0;
    text-align: center;
    transition: height 0.5s;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.5s;
}
.btn:hover{
    background: #ff004f;
}
.body{
    color: #fff;
}

@media screen and (max-width: 1050px) {
    .workList{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .work{
        width: 50%;
        height: 600px;
    }
}

@media screen and (max-width: 700px) {
    .workList{
        gap: 50px;
    }

    .work{
        width: 50%;
        height: 300px;
    }
}